@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

[data-theme="LIGHT"] {
  --base-100: #ffffff;
  --primary-100: #00b3ff;
  --error-100: #da5555;
  --warning-100: #ebd557;
  --success-100: #1cad59;
  --edge-100: #0d1f31;
  --edge-200: #a2b4c7;
}

[data-theme="DARK"] {
  --base-100: #0d1f31;
  --primary-100: #00b3ff;
  --error-100: #da5555;
  --warning-100: #ebd557;
  --success-100: #1cad59;
  --edge-100: #ffffff;
  --edge-200: #728aa3;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border: var(--edge-100) solid 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--edge-100);
  border: var(--edge-100) solid 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-100);
}

@keyframes background {
  from {
    background-position: 0% -100%;
  }
  to {
    background-position: 0% 0%;
  }
}

@keyframes sidebar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.main-background {
  background-color: var(--base-100);
  background-image: radial-gradient(
    var(--edge-200) 0.1rem,
    var(--base-100) 0.1rem
  );
  /* animation: background 20s infinite linear; */
}

.fill-mode-backward {
  animation-fill-mode: backwards;
}
